<% id = "#{dynamic_object_id('partner', f)}_#{partner.new_record? ? 'NEW_RECORD' : partner.id}" %>
<div class="partner item" id="<%= id %>">
  <div>
    <div class="item_field" style="width: 90%; white-space: normal;">
        <div class="search">
          <%= f.text_field :partner_id,
            :id => "assistance_partner_#{id}", :class => :autocomplete_field,
            :'data-autocomplete-url' => autocomplete_for_partner_assistances_path(:format => :json) %>
          <%= hidden_field_tag 'assistance_partner_id', partner.id,
            :id => "hidden_partner_#{id}", :class => :autocomplete_id %>
        </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#<%= "assistance_partner_#{id}" %>').focus();
</script>

